body {
    background-color: $color-back;
    overflow: hidden;
}

.page {
  @include page();
}
.success {
  color: $color-success;
}
.warning {
  color: $color-warning;
}
.error {
  color: $color-danger;
}


:global {
    #app {
        height: 100vh;
        box-sizing: border-box;
        display: grid;
        white-space: pre-wrap;
        grid-template-columns: auto;
        grid-template-rows: $header-height auto 0;
        grid-template-areas: "header" "main" "nav";
    }
}
